
.cart_checkout{
  float: right;
  padding: 3vh;
}
.header1 {
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 20px 10px;
  }
  
  .header1 a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
  }
  
  .header1 a.logo {
    font-size: 25px;
    font-weight: bold;
  }
  
  .header1 a.active {
    background-color: #4A2C2A;
    color: white;
  }
  
  .header-right {
    float: right;
  }
  form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    margin:auto;
    background: #f1f1f1;
  }
  
  form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #4a2c2a00;
    color: #4A2C2A;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
  }
  
  form.example button:hover {
  opacity: 0.5;
  }
  
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }
  
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
  }
  
  th{
      background-color: #CC9966;
  }
  th, td {
    text-align: left;
    padding: 16px;
  }
  td .fa-trash{
      color: red;
  }
  .btn22{
      background-color: #CC9966;
      border: none;
      padding: 5px;
      color: #fff;
        text-align: center;
        font-size: 16px;
        cursor: pointer;
        border: 1px solid #fff;
  }
  tr:nth-child(even) {
    background-color: #f0c69d28;
  }

  .booking_pagination {
      /* float: right; */
  }
  .booking_pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
  }
  
  .booking_pagination a.active {
    background-color: #4A2C2A;
    color: white;
  }
  .booking_pagination a:hover:not(.active) {background-color: #ddd;}